In [1]:
import pandas as pd

In [3]:
#df = pd.read_excel (r'INSCRITOS_OFI.xlsx')
resumen = pd.read_excel (r'tabla_contactos_resumen.xlsx')
resumen

,Unnamed: 0,id,contacto,tipo,nro_programas,programas,control_programas,flag_control,programa_control,flag_formal,fecha_control
0,0,31090,916670916,celular,1,olx2019,0,0,olx2019,1,2019-05-13
1,1,33417,927132526,celular,1,olx2019,1,1,olx2019,0,2019-05-13
2,2,33416,927124931,celular,1,olx2019,1,1,olx2019,0,2019-05-13
3,3,33415,927123602,celular,1,olx2019,1,1,olx2019,0,2019-05-13
4,4,33414,927122427,celular,1,olx2019,1,1,olx2019,0,2019-05-13
...,...,...,...,...,...,...,...,...,...,...,...
60357,60357,56604,999208248,celular,1,renta1ra2,0,0,renta1ra2,1,2020-12-12
60358,60358,56603,999207978,celular,1,renta1ra2,0,0,renta1ra2,1,2020-12-12
60359,60359,56602,999190331,celular,1,renta1ra2,0,0,renta1ra2,1,2020-12-12
60360,60360,56582,999022804,celular,1,renta1ra2,0,0,renta1ra2,1,2020-12-12
60361,60361,55416,946122457,celular,1,renta1ra2,0,0,renta1ra2,1,2020-12-12

In [15]:
#df = pd.read_excel (r'INSCRITOS_OFI.xlsx')
pad_magna = pd.read_excel (r'pad_magna.xlsx')
pad_magna

,num_ruc,telefono1,telefono2,telefono3,telefono4,correo1,correo2,dni,fec_react,fec_alta,regimen,fec_insc,flag_afectacion
0,20604591831,-,-,950814323,-,march_harold@hotmail.com,-,NaN,2019/04/22,2019/04/22,REG. MYPE TRIBUTARIO,2019-04-22 00:00:00.364,NOAFECTACION
1,10404116717,-,-,993050402,-,danielserrano.om@gmail.com,-,40411671.0,2000/11/27,NaN,-,2000-11-27 00:00:00.364,INCONSISTENTE
2,10253130216,-,-,999999999,-,SINCORREO@HOTMAIL.COM,-,25313021.0,2016/05/05,NaN,-,2016-05-05 00:00:00.364,INCONSISTENTE
3,20562782495,-,-,991353943,-,clewis.premiumcarwash@gmail.com,-,NaN,2014/06/11,2018/03/01,REG. GENERAL,2014-06-11 00:00:00.364,CAFECTACION
4,10475895865,-,-,993777213,-,henrydaniel19921@gmail.com,-,47589586.0,2018/12/24,NaN,-,2018-12-24 00:00:00.364,INCONSISTENTE
...,...,...,...,...,...,...,...,...,...,...,...,...,...
69250,10104481740,-,-,979473837,-,-,-,10448174.0,2002/07/02,NaN,-,2002-07-02 00:00:00.334,INCONSISTENTE
69251,10243861778,-,-,999999999,-,-,-,24386177.0,2016/01/20,NaN,-,2016-01-20 00:00:00.334,INCONSISTENTE
69252,15603278698,-,-,932084879,-,nanez.dani@gmail.com,-,NaN,2018/06/08,NaN,-,2018-06-08 00:00:00.334,INCONSISTENTE
69253,10473256482,-,-,941915835,-,lucero.niquen7@gmail.com,-,47325648.0,2010/01/14,2019/08/05,REG. UNICO SIMPLIFICADO,2010-01-14 00:00:00.334,CAFECTACION
69254,10432144815,-,-,953396432,-,daliasandoval1985@hotmail.com,-,43214481.0,2011/11/24,NaN,-,2011-11-24 00:00:00.334,INCONSISTENTE

In [7]:
rucs = pd.read_csv (r'MATCH_PAD_CONTRI_CU_MAGNA3.csv',sep=';')
rucs

,num_ruc,telefono1,telefono2,telefono3,telefono4,correo1,correo2,dni,fec_react,fec_alta,regimen,fec_insc,flag_afectacion
0,10085461554,-,-,947107437,985636411,barbara.alarcon.rf@gmail.com,-,8546155.0,2017/12/11,2018/04/01,REG. ESPECIAL,11/12/2017,CAFECTACION
1,10073180100,-,-,994940994,989281910,baumi400@gmail.com,j19m35@gmail.com,7318010.0,2017/12/29,NaN,-,29/12/2017,INCONSISTENTE
2,10736560254,-,-,930519993,-,beberlyncm@gmail.com,-,73656025.0,2017/09/11,2019/09/01,REG. MYPE TRIBUTARIO,11/09/2017,CAFECTACION
3,20603336853,-,-,997693272,-,beberlyncm@gmail.com,-,NaN,2018/06/27,2020/01/01,REG. ESPECIAL,27/06/2018,CAFECTACION
4,20606618213,-,-,946049473,970703329,blackram94@gmail.com,johannparedes@hotmail.com,NaN,2020/10/02,2020/10/20,REG. MYPE TRIBUTARIO,02/10/2020,CAFECTACION
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3941,10104481740,-,-,979473837,-,-,-,10448174.0,2002/07/02,NaN,-,02/07/2002,INCONSISTENTE
3942,10243861778,-,-,999999999,-,-,-,24386177.0,2016/01/20,NaN,-,20/01/2016,INCONSISTENTE
3943,15603278698,-,-,932084879,-,nanez.dani@gmail.com,-,NaN,2018/06/08,NaN,-,08/06/2018,INCONSISTENTE
3944,10473256482,-,-,941915835,-,lucero.niquen7@gmail.com,-,47325648.0,2010/01/14,2019/08/05,REG. UNICO SIMPLIFICADO,14/01/2010,CAFECTACION
3945,10432144815,-,-,953396432,-,daliasandoval1985@hotmail.com,-,43214481.0,2011/11/24,NaN,-,24/11/2011,INCONSISTENTE

In [14]:


resumen = resumen.set_index('contacto')
rucs = rucs.set_index('telefono3')

if resumen['contacto'] == 'Value': 
    df['c2'] = 10 
else: 
    df['c2'] = df['c3']

KeyError: "None of ['contacto'] are in the columns"