## Leer ARCHIVOS JSON DESDE UNA RUTA

In [32]:
import os, json
import pandas as pd

path = r'D:\JSON_FILES'
json_files = glob.glob(path + "/*.json")
json_files

jsons_data = pd.DataFrame(columns=['nombre','profesion','edad'])

for index, js in enumerate(json_files):
    with open(os.path.join(path_to_json, js)) as json_file:
        json_text = json.load(json_file)
        # here you need to know the layout of your json and each json has to have
        # the same structure (obviously not the structure I have here)
        nombre = json_text['nombre']
        profesion = json_text['profesion']
        edad = json_text['edad']
        # here I Push a list of data into a pandas DataFrame at row given by 'index'
        jsons_data.loc[index] = [nombre, profesion, edad]

In [35]:
#Generar DataFrame
jsons_data

     nombre    profesion edad
0  Jonh Doe  Programador   25
1  Jonh Doe  Programador   25

In [ ]:
#Exportar csv
.to_csv('consolidado.csv',sep='|', encoding='utf-8', index=False)